<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::head" />
<title>Add Medicine</title>

<body>
<div th:replace="userheader::nav">
</div>

    <div th:if=${session.msg}>
        <div class="alert alert-success" role="alert" th:text="${session.msg}">
        </div>
        <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
    </div>


    <div class="container p-3 my-3 bg-primary text-white">
        <h1>Welcome <span th:text="${username}" ></span></h1>
        <div class="container p-3 my-3 bg-dark text-white">
            <div class="d-grid gap-2 col-6 mx-auto">

                <a class="btn btn-warning" th:href="@{/viewAllCustomer}" type="button">View Customers Info</a>
                <a class="btn btn-warning" th:href="@{/viewAllSeller}" type="button">View Sellers Info</a>
            </div>
        </div>


    </div>
</section>

</body>
</html>