<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::head" />
<title>Add Medicine</title>

<body>
<div th:replace="userheader::nav">
</div>


<div th:if=${session.msg}>
  <div class="alert alert-success" role="alert" th:text="${session.msg}">
  </div>
  <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
</div>

<div class="text-center mt-3">
  <h1><p style="color:#000080;">All Medicines </h1>
</div>
<form align="center" th:action="@{/search}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Seach Medicine" size="50" >
  <button type="submit" class="btn btn-outline-success" >Search</button>
  <button type="reset" class="btn btn-outline-danger" >Reset</button>

</form>

<div class="container p-5">
  <table class="table table-striped" border="1">
    <thead class="bg-secondary text-white">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Seller </th>
      <th scope="col">Composition </th>






    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${med}">

      <td scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{m.image}}" style="width: 100px;height: 100px;"></td>
      <td p style="color:#800000;"th:text="${m.medicine_name}"></td>
      <td p style="color:#800000;"th:text="${m.price}"></td>
      <td p style="color:#800000;"th:text="${m.seller_email}"></td>
      <td p style="color:#800000;"th:text="${m.medicine_composition}"></td>



    </tr>
    </tbody>
  </table>

</div>



</div>


</body>
</html>