<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="base::head" />
<title>Payment Success </title>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<div th:replace="userheader::nav">
</div>

<img  alt="" th:src="@{HomepagePic/Paymentsuccessful.jpg}" style="width:50%;">
<div align="center">

    <a class="btn btn-outline-success" th:href="@{/Customerwelcome}" type="button">Back to Dashboard</a>
</div>

</body>
</html>