<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::head" />
<title>Add Medicine</title>

<body>
<div th:if="${user} == 'anonymous'">
  <div th:replace="base::nav">
  </div>
</div>


<div th:unless="${user} == 'anonymous'">
  <div th:replace="userheader::nav">
  </div>
</div>

  <div th:if=${session.msg}>
    <div class="alert alert-success" role="alert" th:text="${session.msg}">
    </div>
    <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
  </div>


  <div class="container p-3 my-3 bg-secondary text-Black">
    <h1>Medicine Details</h1>
    <div class="container p-3 my-3 bg-light  text-Black">

      <p scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{med.image}}" style="width: 300px;height: 200px;"></p>

      <h4><p style="color:SlateBlue;"> <th:block th:text="${med.medicine_name}"></th:block></h4>
      <h4>Composition:<p style="color:SlateBlue;"> <th:block th:text="${med.medicine_composition}"></th:block></h4>
      <h4>Manufacturing Company:<p style="color:SlateBlue;"> <th:block th:text="${med.manufacturing_company}"></th:block></h4>
      <h4>Seller:<p style="color:SlateBlue;"> <th:block th:text="${med.seller}"></th:block></h4>
      <h4>Price(Tk):<p style="color:SlateBlue;"> <th:block th:text="${med.price}"></th:block></h4>
      <h4>About:<p style="color:SlateBlue;"> <th:block th:text="${med.about}"></th:block></h4>

      <div th:if="${role} == 'admin'">
        <div class="text-center mt-3">
          <h2> <a class="btn btn-lg btn-danger text-white"
                  th:href="@{/remove_sell_post/{id}/(id=${med.medicine_id})}">Delete</a></h2>
        </div>
      </div>

      <div th:if="${role} == 'customer'">
            <div th:if="${med.quantity} > 0">
              <div class="text-center mt-3">
                <h2> <a class="btn btn-lg btn-info text-white"
                         th:href="@{/proceedToBuy/{id}/(id=${med.medicine_id})}">Buy Now</a>
                  <a class="btn btn-lg btn-warning text-white"
                     th:href="@{/addcart/{id}/(id=${med.medicine_id})}">Add to Cart</a> </td></h2>

              </div>


              <div th:unless="${med.quantity} > 0">
                <div class="text-center mt-3">
                  <h2><p style="color:red;"> Out of Stock</h2>
              </div>
                </div>
            </div>
      </div>


        <div th:if="${role} == 'seller'">
          <div class="text-center mt-3">
            <h2> <a class="btn btn-lg btn-primary "
                    th:href="@{/editMedicine/{id}(id=${med.medicine_id})}">Edit</a>

              <a class="btn btn-lg btn-danger btn-lg"
                 th:href="@{/deleteMedicine/{id}/(id=${med.medicine_id})}">Delete</a></h2>
          </div>
        </div>


    </div>

  </div>




</body>
</html>