<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::head" />
<title>Add Medicine</title>

<body>

<div th:if="${user} == 'anonymous'">
  <div th:replace="base::nav">
  </div>
</div>


<div th:unless="${user} == 'anonymous'">
  <div th:replace="userheader::nav">
  </div>
</div>


  <div th:if=${session.msg}>
    <div class="alert alert-success" role="alert" th:text="${session.msg}">
    </div>
    <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
  </div>

  <div class="text-center mt-3">
    <h1><p style="color:#000080;">All Medicines </h1>
  </div>

<form align="center" th:action="@{/search}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Seach Medicine" size="50" >
  <button type="submit" class="btn btn-outline-success" >Search</button>
  <button type="reset" class="btn btn-outline-danger" >Reset</button>

</form>

  <div class="container p-5">
    <table class="table table-striped" border="1">
      <thead class="bg-secondary text-white">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Seller </th>
        <th scope="col">Action</th>


      </tr>
      </thead>
      <tbody>
      <tr th:each="m : ${med}">

        <td scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{m.image}}" style="width: 100px;height: 100px;"></td>
        <td p style="color:#800000;"th:text="${m.medicine_name}"></td>
        <td p style="color:#800000;"th:text="${m.price}"></td>
        <td p style="color:#800000;"th:text="${m.seller_email}"></td>

        <div th:if="${role} == 'admin'">
         <td> <a class="btn btn-sm btn-success"
             th:href="@{/admin_side_product_details/{id}(id=${m.medicine_id})}">View</a>
          <a class="btn btn-sm btn-danger"
             th:href="@{/remove_sell_post/{id}/(id=${m.medicine_id})}">Remove</a></td>
        </div>


        <div th:unless="${role} == 'admin'">
        <td th:if="${m.quantity} > 0">
        <a class="btn btn-sm btn-success"
               th:href="@{/Customerside_ViewMedicineDetails/{id}(id=${m.medicine_id})}">View</a>

          <a class="btn btn-sm btn-info text-white"
             th:href="@{/proccedToBuy/{id}/(id=${m.medicine_id})}">Buy Now</a>
          <a class="btn btn-sm btn-warning text-white"
             th:href="@{/addcart/{id}(id=${m.medicine_id})}">Add to Cart</a> </td>



        <td th:unless="${m.quantity} > 0"><p style="color:red;">
        <a class="btn btn-sm btn-success text-white"
             th:href="@{/Customerside_ViewMedicineDetails/{id}(id=${m.medicine_id})}">View</a>
          Out of Stock</td>
</div>



      </tr>
      </tbody>
    </table>

  </div>






</body>
</html>