<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::head" />
<title>View Cart</title>

<body>
<div th:replace="userheader::nav">
</div>


  <div th:if=${session.msg}>
    <div class="alert alert-success" role="alert" th:text="${session.msg}">
    </div>
    <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
  </div>

  <div class="text-center mt-3">
    <h1><p style="color:#CD5C5C;">My Cart Items </h1>
  </div>


  <div class="container p-5">
    <table class="table table-striped" border="1">
      <thead class="bg-primary text-white">
      <tr>

        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price(Tk)</th>
        <th scope="col">Seller</th>
        <th scope="col">Action</th>



      </tr>
      </thead>
      <tbody>
      <tr th:each="m : ${med} ">
        <td scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{m.image}}" style="width: 100px;height: 100px;"></td>
        <td p style="color:#800000;"th:text="${m.medicine_name}"></td>
        <td p style="color:#800000;"th:text="${m.price}"></td>
        <td p style="color:#800000;"th:text="${m.seller_email}"></td>

        <td th:if="${m.quantity} > 0">
        <a class="btn btn-sm btn-danger"
           th:href="@{/deleteCartItem/{id}/(id=${m.medicine_id})}">Remove</a>

        <a class="btn btn-sm btn-info text-white"
           th:href="@{/proccedToBuy/{id}/(id=${m.medicine_id})}">Buy Now</a></td>

        <td th:unless="${m.quantity} > 0"><p style="color:red;">
          <a class="btn btn-sm btn-danger"
             th:href="@{/deleteCartItem/{id}/(id=${m.medicine_id})}">Remove</a>
          Out of Stock</td>


      </tr>
      </tbody>
    </table>

  </div>





  </div>
</section>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>